
body {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  font-size: 16px; 
  font-weight: normal;
  margin: 0;
  padding: 2rem;
  background-color: #e7eee7;
  color: #333;
}


h1 {
  font-size: 24px ;
  color: white;
  font-weight: bold;
  background-color: #006400; 
  padding: 1.2rem;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}


nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background-color: #d0e9d0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

nav a {
  text-decoration: none;
  color: #004d00;
  font-size: 18px; 
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #006400;
}


h2, h3, h4 {
  color: #004d00;
  font-size: 20px; 
  margin-top: 1rem;
}


footer {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #d0e9d0;
  color: #004d00;
  border-radius: 8px;
  font-size: 16px;
}


main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}


.card {
  background: linear-gradient(to bottom right, #ffffff, #e6f4ea);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  font-size: 16px; 
}
